SEServerGUI/Service References/ServiceReference/item86.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sandbox.Common.ObjectBuilders.Audio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sandbox.Common.ObjectBuilders.Audio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/SEServerExtender/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Sandbox.Common.ObjectBuilders" />
  <xs:import schemaLocation="http://localhost:8000/SEServerExtender/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MyObjectBuilder_CueDefinition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Sandbox.Common.ObjectBuilders" base="q1:MyObjectBuilder_Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alternative2D" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Loopable" type="xs:boolean" />
          <xs:element minOccurs="0" name="MaxDistance" type="xs:float" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PitchVariation" type="xs:float" />
          <xs:element minOccurs="0" name="UseOcclusion" type="xs:boolean" />
          <xs:element minOccurs="0" name="Volume" type="xs:float" />
          <xs:element minOccurs="0" name="VolumeCurve" type="tns:MyAudioHelpers.CurveType" />
          <xs:element minOccurs="0" name="VolumeVariation" type="xs:float" />
          <xs:element minOccurs="0" name="Waves" nillable="true" type="tns:ArrayOfMyAudioHelpers.Wave" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MyObjectBuilder_CueDefinition" nillable="true" type="tns:MyObjectBuilder_CueDefinition" />
  <xs:simpleType name="MyAudioHelpers.CurveType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Linear" />
      <xs:enumeration value="Quadratic" />
      <xs:enumeration value="Poly2" />
      <xs:enumeration value="Custom_1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MyAudioHelpers.CurveType" nillable="true" type="tns:MyAudioHelpers.CurveType" />
  <xs:complexType name="ArrayOfMyAudioHelpers.Wave">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyAudioHelpers.Wave" type="tns:MyAudioHelpers.Wave" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyAudioHelpers.Wave" nillable="true" type="tns:ArrayOfMyAudioHelpers.Wave" />
  <xs:complexType name="MyAudioHelpers.Wave">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="End" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Loop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:MyAudioHelpers.Dimensions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyAudioHelpers.Wave" nillable="true" type="tns:MyAudioHelpers.Wave" />
  <xs:simpleType name="MyAudioHelpers.Dimensions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="D2" />
      <xs:enumeration value="D3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MyAudioHelpers.Dimensions" nillable="true" type="tns:MyAudioHelpers.Dimensions" />
  <xs:complexType name="MyObjectBuilder_CueDefinitions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Sandbox.Common.ObjectBuilders" base="q2:MyObjectBuilder_Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cues" nillable="true" type="tns:ArrayOfMyObjectBuilder_CueDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MyObjectBuilder_CueDefinitions" nillable="true" type="tns:MyObjectBuilder_CueDefinitions" />
  <xs:complexType name="ArrayOfMyObjectBuilder_CueDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyObjectBuilder_CueDefinition" nillable="true" type="tns:MyObjectBuilder_CueDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyObjectBuilder_CueDefinition" nillable="true" type="tns:ArrayOfMyObjectBuilder_CueDefinition" />
</xs:schema>