SEServerGUI/Service References/ServiceReference/item84.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sandbox.Common.ObjectBuilders.Conveyors" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sandbox.Common.ObjectBuilders.Conveyors" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/SEServerExtender/?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/VRageMath" />
  <xs:import schemaLocation="http://localhost:8000/SEServerExtender/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSerializableLineSectionInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SerializableLineSectionInformation" type="tns:SerializableLineSectionInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSerializableLineSectionInformation" nillable="true" type="tns:ArrayOfSerializableLineSectionInformation" />
  <xs:complexType name="SerializableLineSectionInformation">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VRageMath" minOccurs="0" name="Direction" type="q1:Base6Directions.Direction" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerializableLineSectionInformation" nillable="true" type="tns:SerializableLineSectionInformation" />
</xs:schema>