SEServerGUI/Service References/ServiceReference/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SEModAPIInternal.API.Entity.Sector.SectorObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SEModAPIInternal.API.Entity.Sector.SectorObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/SEServerExtender/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SEModAPIInternal.API.Entity" />
  <xs:complexType name="CubeGridEntity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SEModAPIInternal.API.Entity" base="q1:BaseEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CubeGridEntity" nillable="true" type="tns:CubeGridEntity" />
  <xs:complexType name="CharacterEntity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SEModAPIInternal.API.Entity" base="q2:BaseEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CharacterEntity" nillable="true" type="tns:CharacterEntity" />
  <xs:complexType name="FloatingObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/SEModAPIInternal.API.Entity" base="q3:BaseEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FloatingObject" nillable="true" type="tns:FloatingObject" />
  <xs:complexType name="Meteor">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/SEModAPIInternal.API.Entity" base="q4:BaseEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Meteor" nillable="true" type="tns:Meteor" />
  <xs:complexType name="VoxelMap">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/SEModAPIInternal.API.Entity" base="q5:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VoxelMap" nillable="true" type="tns:VoxelMap" />
</xs:schema>